@import url('http://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body{
    background-color: #101822;
    color: #eee;
    text-transform: uppercase;
    font-family: 'VALORANT', sans-serif;
}

main{
    height: 100vh;
}

.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}

li{
    list-style: none;
}