.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* #imagens{
    margin-left: -30rem;
} */

#foto, #foto2, #bg{
    position: absolute;
}

#foto {
    z-index: 3;
    width: 50%;
    margin-top: -47px;

}

#foto2 {
    z-index: 2;
    width: 50%;
    margin-top: -70px;
    margin-left: -50px;
    filter: brightness(0) blur(5px) opacity(65%);
    transform: scale(1.06);
    /* transform: skew(20deg, 20deg); */

}

#bg{
    transform: scale(1.1);
    margin-top: -200px;
    margin-left: -55px;
    z-index: -1;
    filter: blur(0px) opacity(70%);
}

#textos{
    font-family: 'Archivo Black', sans-serif;
    font-size: 37px;
    width: 760px;
    align-self: end;
    padding-right: 16px;
    margin-right: 16px;
}

#nome{
    font-family: 'VALORANT', sans-serif;
    font-size: 80px;
    margin-bottom: -25px;
    font-weight: 900;
}

#descricao{
    line-height: 40px;
}